<app-navbar></app-navbar>

<main class="w-100 flex-center pt-5 body">
    <div class="d-flex justify-content-evenly flex-wrap w-100">
        <div class="option animate__animated animate__zoomIn animate__faster" routerLink="/packs/default">
            <p class="w-100 m-0">Default Packs</p>
        </div>
        <div class="option animate__animated animate__zoomIn animate__fast" routerLink="/packs/community">
            <p class="w-100 m-0">Community Packs</p>
        </div>
        <div class="option animate__animated animate__zoomIn animate__slow"  routerLink="/packs/create">
            <p class="w-100 m-0">Request your pack</p>
        </div>
    </div>
</main>
