.body {
    height: auto;
    min-height: calc(100vh - 70px);
    background-color: #2E3035;
    background: url('../../../assets/bg/bg-workshop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 2px solid black;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    min-width: 300px;
    width: 25%;
    background-color: gray;
    background: url("../../../assets/cards/card-1.svg");
    background-size: contain;
    border: 20px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: .7s;
    text-align: center;
    line-height: 150%;
    cursor: pointer;
    margin: 1em;
    &:hover {
        scale: (0.9);
    }
}
