<app-navbar></app-navbar>

<div class="flex-center flex-wrap w-100">
    <div *ngFor="let pack of packs">
        <div class="cell" (click)="onDetailsClick(pack)">
            <img src="{{pack.firstEmoji}}" alt="pack">
            <p class="text-light bottom">{{pack.nome}}</p>
        </div>
    </div>
</div>

<!--Pop up conferma-->
<div *ngIf="popUp" class="popUp position-fixed top-0 start-0 w-100 h-100 flex-center">
    <div class="popUpBody">
        <p>are you sure to add {{qty}} emoji to your list?</p>
        <div class="emojiList">
            <div *ngFor="let pack of packDetails" >
                <img src="{{pack}}" alt="pack" width="48px" height="48px">
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" (click)="confirmNo()">No</a>
            <a class="btn btn-success" (click)="confirmYes()">Yes</a>
        </div>
    </div>
</div>
