.body {
    height: auto;
    min-height: calc(100vh - 70px);
    background-color: #2E3035;
    border-top: 2px solid black;
    background: #2e3035;
    background: linear-gradient(180deg, #2e3035 0%, #22263a 100%);
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    min-width: 400px;
    width: 25%;
    background-color: gray;
    border: 20px solid white;
    box-shadow: 0 0 10px white;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    transition: .7s;
    text-align: center;
    line-height: 150%;
    cursor: pointer;
    user-select: none;
    margin: 1em;
    &:nth-child(1) {
        background: url("../../../assets/cards/simple-hover-1.svg");
        background-size: cover;
        transition: 1.5s;

    }
    &:nth-child(2) {
        background: url("../../../assets/cards/simple-hover-2.svg");
        background-size: cover;
        transition: 1.5s;
    }
    &:hover {
        filter: brightness(70%);
    }
}
