<app-navbar></app-navbar>

<main class="w-100 flex-center pt-5 flex-wrap">
    <div class="option">
        <a routerLink="/dashboard/info" class="text-light">General Info</a>
    </div>
    <div class="option" routerLink="/dashboard/packs">
        <a class="text-light">Show Packs</a>
    </div>
    <div class="option">
        <a routerLink="/dashboard/approve" class="text-light">Approve User Packs</a>
    </div>
    <div class="option">
        <a class="text-light">Coming Soon</a>
    </div>

</main>


