<app-navbar></app-navbar>

<main class="w-100 flex-center pt-5 body">
    <div class="d-flex justify-content-evenly flex-wrap w-100">
        <div class="option animate__animated animate__zoomIn animate__faster" routerLink="/dashboard/packs">
            <p class="w-100 m-0">Show Packs</p>
        </div>
        <div class="option animate__animated animate__zoomIn animate__fast" routerLink="/dashboard/approve">
            <p class="w-100 m-0">Approve User Packs</p>
        </div>
    </div>
</main>
