<header>
    <a routerLink="/" class="border-0"><img src="../../../assets/logo/android-chrome-192x192.png" alt="logo"
            width="70px"></a>

    <!--Menu icon mobile-->
    <a class="menuIcon" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"><i class="bi bi-boxes"></i> Menu</a>
    <!--Menu-->
    <div class="offcanvas offcanvas-end w-75 pt-4 px-4" tabindex="-1" id="offcanvasRight">
        <!--head-->
        <div class="d-flex justify-content-between pt-4 px-4">
            <p class="fw-bold fs-3 menu"><i class="bi bi-cup-hot-fill"></i> Bytecord</p>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <!--body-->
        <p class="fs-3 mb-4 p-0 text-center">『<i class="bi bi-person"></i> {{ username }} 』</p>
        <!--logout-->
        <div class="flex-center w-100">
            <a (click)="logout()" class="fs-5 menuOption link"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </div>
        <hr class="mx-5">
        <!--starter-->
        <div class="d-flex align-items-center w-100 flex-column">
            <a href="/" class="fs-5 menuOption link"><i class="bi bi-star"></i> Start</a>
        </div>
        <!--Emoji-->
        <div class="d-flex align-items-center w-100 flex-column">
            <a routerLink="/homepage" class="fs-5 menuOption link"><i class="bi bi-emoji-smile"></i> Emoji</a>
        </div>
        <!--dashboard-->
        <div class="d-flex align-items-center w-100 flex-column">
            <a *ngIf="authorized" routerLink="/dashboard" class="fs-5 menuOption link"><i
                    class="bi bi-clipboard-data"></i> Dashboard</a>
        </div>
    </div>
</header>
<!--
<div>
    <a *ngIf="authorized" routerLink="/dashboard" class="link">Dashboard <i class="bi bi-clipboard-data"></i></a>
    <a (click)="logout()" class="link">Logout <i class="bi bi-box-arrow-left"></i></a>
</div>-->
