@import "media-queries";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    box-shadow: 0px 1px 10px black;
    height: 70px;
    background: url(../../../assets/bg/bg-header.svg);
    background-size: cover;
    .head {
        border: 4px solid white;
        border-radius: 100%;
        transition: 0.7s;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px white;
        }
    }
    .menuIcon {
        color: white;
        text-decoration: none;
        border-radius: 10px;
        aspect-ratio: 2/1;
        width: 90px;
        padding: 0.5em;
        background-color: #383a40;
        transition: 0.5s;
        &:hover {
            transform: scale(1.1);
            background-color: #464950;
        }
        &:active {
            transform: scale(0.8);
        }
    }
    .menu {
        transition: 0.7s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    // --- navbar desktop --- //
    .navbar {
        display: none;
        .navbarIcon {
            aspect-ratio: 5/1;
            cursor:pointer;
            text-decoration: none;
            color: #ffffffb5;
            transition: 0.3s;
            &:hover {
                transform: scale(1.1);
                color: var(--main-color);
            }
        }
        .logout {
            width: 90px;
            background-color: #383a40;
            box-shadow: 0px 1px 10px #00000051;
            padding: 0.7em 1em;
            border-radius: 10px;
            transition: 0.7s;
            cursor:pointer;
            &:hover {
                background-color: #4d5057;
                transform: scale(1.1);
            }
        }
    }
    // ----------------------- navbar mobile ----------------------- //
    //navbar aperto
    .offcanvas {
        background-color: #383a40;
        background: url('../../../assets/bg/bg-blob-vertical.svg');
        background-size: cover;
        color: var(--main-color);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        max-width: 300px;
        .menuOption {
            width: 100%;
            color: var(--main-color);
            opacity: 0.7;
            background-color: #00000004;
            border-radius: 5px;
            text-align: center;
            transition: 1s;
            padding: 0.7em 1.3em;
            margin: 0.2em;
            &:hover,
            &:active {
                text-decoration: none;
                color: black;
                background-color: #dadada;
            }
        }
    }
}

.active {
    color: white!important;
    transform: scale(1.1)!important;
    font-weight: bold;
}
