<app-navbar></app-navbar>

<main class="body flex-center flex-column mx-4 position-relative">
    <a routerLink="/packs" class="position-absolute top-0 start-0 my-3 back"><i class="bi bi-arrow-left-square"></i> Go Back</a>
    <div class="packs pb-5 my-2">
        <h2 class="m-5 text-light fs-1">{{ title }}:</h2>
        <div class="result">
            <div *ngFor="let pack of packs">
                <div class="cell" (click)="onDetailsClick(pack)">
                    <img src="{{ randomPic(pack) }}" alt="pack">
                    <p class="bottom">{{pack.nome}}</p>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Pop up conferma-->
<div *ngIf="popUp" class="popUp position-fixed top-0 start-0 w-100 h-100 flex-center">
    <div class="popUpBody">
        <p>are you sure to add {{qty}} emoji to your list?</p>
        <div class="emojiList">
            <div *ngFor="let pack of packDetails" >
                <img src="{{pack}}" alt="pack" width="48px" height="48px">
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" (click)="confirmNo()">No</a>
            <a class="btn btn-success" (click)="confirmYes()">Yes</a>
        </div>
    </div>
</div>
