<div class="body mt-3 d-flex flex-column align-items-center">

    <div class="input-group mb-3 input">
        <input type="text" [(ngModel)]="addInput" (keydown.enter)="addEmoji()" class="form-control"
            placeholder="Paste the url here!">
        <button class="btn btn-outline-light" type="button" id="button-addon2" (click)="addEmoji()"><i
                class="bi bi-plus-circle"></i></button>
    </div>

    <div class="result">
        <!-- Lista degli emoji -->
        <div *ngFor="let emoji of displayList">
                <!-- Se non è vuoto allora metti in display-->
            <div *ngIf="emoji != '' " class="cell">
                <div (click)='copyClipboard(emoji)'>
                    <img [src]="emoji" class="img-fluid img"
                        onerror="this.src='assets/not-found.png'">
                </div>
            </div>
        </div>
        <!-- Messaggio lista vuota -->
        <div *ngIf="isEmpty">
            <p>La tua lista è vuota</p>
        </div>
    </div>
</div>
