<div class="body mt-3 d-flex flex-column align-items-center">

    <div class="input-group mb-3 input">
        <input type="text" [(ngModel)]="addInput" (keydown.enter)="addEmoji()" class="form-control"
            placeholder="Paste the url here!">
        <button class="btn btn-outline-light" type="button" id="button-addon2" (click)="addEmoji()"><i
                class="bi bi-plus-circle"></i></button>
    </div>

    <div class="result">
        <div *ngFor="let emoji of list" class="cell">
            <div (click)='copyClipboard(emoji)' >
                <img [src]="emoji" class="img-fluid img">
            </div>

        </div>
    </div>
</div>
