.body {
    overflow: auto;
    height: 100vh;
    margin: 2em;
    .input {
        width: 95%;
    }
    .modify {
        border-radius: 20%;
    }

    .ratio-1 {
        min-width: 48px;
        aspect-ratio: 1;
    }

    .result {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 3em;
        width: 100%;
        padding: 1em;
        background-color: #ffffff50;
        border-radius: 5px;
        //min-height: 200px;
        height: auto;

        .cell {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            border-radius: 5px;
            margin: 0.5em;
            aspect-ratio: 1;
            width: 80px;
            background-color: wheat;
            transition: 0.3s ease-out;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.7);
            }
        }
    }
}
