<app-navbar></app-navbar>
<main class="body mt-3 d-flex flex-column align-items-center">
    <!---------------- ToolBar ---------------->
    <header class="d-flex justify-content-between w-100 p-2 mb-4">
        <div class="d-flex justify-content-center w-100">
            <a class="select link"><i class="bi bi-box2-heart"></i> Packs</a>
            <a class="select link" (click)="toggleSettings()"><i class="bi bi-gear"></i> Settings</a>
            <a class="select link"><i class="bi bi-question-circle"></i> Help</a>
        </div>
    </header>
    <!---------------- InputBar ---------------->
    <section class="input-group mb-3 input">
        <!-- Input -->
        <input type="text" [(ngModel)]="addInput" (keydown.enter)="addEmoji()" class="form-control"
            placeholder="Paste the url here!">
        <!-- Add -->
        <button class="btn btn-outline-light" type="button" id="button-addon2" (click)="addEmoji()">
            <i class="bi bi-plus-circle"></i>
        </button>
        <!-- Modifica -->
        <a class="btn btn-outline-light modify ms-3" type="button" (click)="onModifyClick()">
            <i class="bi bi-pencil-square"></i>
        </a>
    </section>
    <!---------------- EmojiList ---------------->
    <section class="result">
        <div *ngFor="let emoji of displayList">
            <!-- Se non è vuoto allora metti in display-->
            <div *ngIf="emoji != '' " class="cell position-relative">
                <!-- btn elimina -->
                <span *ngIf="modifyFlag" (click)="delete(emoji)"
                    class="position-absolute top-0 start-100 translate-middle fs-6 badge rounded-pill bg-danger">x</span>
                <!-- Emoji in display-->
                <div (click)='copyClipboard(emoji)'>
                    <img [src]="emoji" class="img-fluid ratio-1" onerror="this.src='assets/not-found.png'">
                </div>
            </div>
        </div>
        <!-- Messaggio lista vuota -->
        <div *ngIf="isEmpty" class="text-light text-center p-3 fs-4">
            <p class="m-4">Oh no, it's empty in here!</p>
            <p class="m-4">Quick, let's add some emoji to liven things up! <span><img src="assets/emoji.gif" width="24px"></span></p>
        </div>
    </section>
</main>

<!------------------ Pop up settings ------------------>
<div *ngIf="settingsFlag" class="settings flex-center">
    <div class="settingsBody flex-center flex-column position-relative">
        <!-- Chiusura -->
        <div *ngIf="!settingsConfirm" class="position-absolute top-0 end-0 m-4" (click)="toggleSettings()">
            <i class="bi bi-x fs-2"></i>
        </div>
        <!---------- Settings ---------->
        <div *ngIf="!settingsConfirm" class="text-center d-flex flex-column">
            <h2 class="fs-1">Settings</h2>
            <!--Import-->
            <label for="fileInput" class="settingsBtn"><i class="bi bi-upload"></i> Import </label>
            <input id="fileInput" class="d-none" type="file" (change)="selectedFile($event)">
            <!--Export-->
            <button type="button" class="settingsBtn" (click)="export()">Export</button>
            <!--DeleteAll-->
            <button type="button" class="settingsBtn text-danger" (click)="deleteAll()">Delete Everything</button>

            <!--da continuare con altri btn-->
        </div>

        <!------------------ Confirm Menu ------------------>
        <div *ngIf="settingsConfirm" class="text-center">
            <h3 class="fs-1 text-center">Confirm</h3>

            <!--import-confirm-->
            <div *ngIf="importConfirm">
                <p>Confirm import of <span class="text-info">{{ qty }}</span> emojis?</p>
                <div class="d-flex justify-content-evenly">
                    <button type="button" class="btn btn-outline-light" (click)="confirmNo()">No</button>
                    <button type="button" class="btn btn-outline-success" (click)="confirmYes('import')">Yes</button>
                </div>
            </div>

            <!--delete-confirm-->
            <div *ngIf="deleteConfirm" class="flex-center fs-4 flex-column mx-3">
                    <p class="mt-3">Are you sure you want to <span class="text-danger fw-bold">delete all</span> of your emojis?</p>
                    <p class="mt-3 fs-6">(This action <span class="text-danger fw-bold">cannot</span> be undone once confirmed.)</p>
                    <div class="d-flex justify-content-evenly">
                        <button type="button" class="btn btn-outline-light" (click)="confirmNo()">No</button>
                        <button type="button" class="btn btn-outline-success" (click)="confirmYes('deleteAll')">Yes</button>
                    </div>
            </div>

        </div>
    </div>
</div>
