@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: center!important;
        .toolbar {
            border-radius: 10px;
            max-width: 768px;
        }
        .select {
            padding: 0.8em 1.5em;
        }
    }
    .helpBody {
        width: 768px!important;
        .helpImg {
            width: 576px!important;
        }
    }
}

@media (min-width: 1400px) {
    .mascotte {
        display: block!important;
    }
}

