<app-navbar></app-navbar>
<main class="body mt-3 d-flex flex-column align-items-center">
    <!---------------- ToolBar ---------------->
    <header class="d-flex justify-content-between w-100 p-2 mb-4">
        <div class="toolbar">
            <!-- Packs -->
            <a class="select link w-25" routerLink="/packs"><i class="bi bi-box2-heart"></i><br>Packs</a>
            <!-- Modifica -->
            <a class="select link w-25" (click)="onModifyClick()" [class.edit]="modifyFlag === true">
                <i class="bi bi-pencil-square"></i><br>Edit
            </a>
            <!-- Settings -->
            <a class="select link w-25" (click)="toggleSettings()"><i class="bi bi-gear"></i><br>Settings</a>
            <!-- help -->
            <a class="select link w-25" (click)="toggleHelp()"><i class="bi bi-question-circle"></i><br>Help</a>
        </div>
    </header>
    <!---------------- InputBar ---------------->
    <section class="mb-2 d-flex align-items-center w-100 inputbar">
        <!-- Input -->
        <input type="text" [(ngModel)]="addInput" (keydown.enter)="addEmoji()" class="form-control addInput"
            placeholder="Paste your emoji url here!">
        <!-- Add -->
        <div class="addBtn">
            <a type="button" id="button-addon2" (click)="addEmoji()">
                <i class="bi bi-plus-circle-fill"></i>
            </a>
        </div>
    </section>
    <!-- Errori & Messaggi -->
    <div *ngIf="errorInput !=''" class="w-100 flex-center">
        <p class="text-danger fw-bold fs-6 text-center border border-danger p-1 px-3 rounded-1 editMessage">{{ errorInput }}</p>
    </div>
    <div *ngIf="modifyFlag" class="w-100 flex-center">
        <p class="fw-bold fs-6 text-center p-1 px-3 rounded-1 editMessage" style="border: 2px solid #5865F2;">You are currently in edit mode.</p>
    </div>
    <!---------------- EmojiList ---------------->
    <section class="result">
        <div *ngFor="let emoji of displayList" class="animate__animated animate__zoomIn animate__fast">
            <!-- Se non è vuoto allora metti in display-->
            <div *ngIf="emoji != '' " class="cell position-relative">
                <!-- btn elimina -->
                <span *ngIf="modifyFlag" (click)="delete(emoji)"
                    class="position-absolute top-0 start-100 translate-middle fs-6 badge rounded-pill bg-danger">x</span>
                <!-- Emoji in display-->
                <div (click)='copyClipboard(emoji)'>
                    <img [src]="emoji" class="img-fluid emoji" onerror="this.src='assets/not-found.png'">
                </div>
            </div>
        </div>
        <!-- Messaggio lista vuota -->
        <div *ngIf="isEmpty" class="text-light text-center p-3 fs-4">
            <p class="m-4">Oh no, it's empty in here!</p>
            <p class="m-4">Quick, let's add some emoji to liven things up! <span><img src="assets/emoji.gif"
                        width="24px"></span></p>
        </div>
    </section>
</main>
<div class="mascotte img"><img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/633c218c78fdb568bd88e308_Group%20482467.svg" alt=""></div>
<!------------------ Pop up settings ------------------>
<div *ngIf="settingsFlag" class="settings flex-center">
    <div class="settingsBody flex-center flex-column position-relative">
        <!-- Chiusura -->
        <div *ngIf="!settingsConfirm" class="position-absolute top-0 end-0 m-4" (click)="toggleSettings()">
            <i class="bi bi-x fs-2"></i>
        </div>
        <!---------- Settings ---------->
        <div *ngIf="!settingsConfirm" class="text-center d-flex flex-column">
            <h2 class="fs-1">Settings</h2>
            <!--Import-->
            <label for="fileInput" class="settingsBtn"><i class="bi bi-upload"></i> Import </label>
            <input id="fileInput" class="d-none" type="file" (change)="selectedFile($event)">
            <!--Export-->
            <button type="button" class="settingsBtn" (click)="export()">Export</button>
            <hr>
            <!--DeleteAll-->
            <button type="button" class="settingsBtn text-danger" (click)="deleteAll()">Delete Everything</button>
        </div>

        <!------------------ Confirm Menu ------------------>
        <div *ngIf="settingsConfirm" class="text-center">
            <h3 class="fs-1 text-center">Confirm</h3>
            <!--import-confirm-->
            <div *ngIf="importConfirm">
                <p class="fs-5 mt-4">Confirm import of <span class="text-info">{{ qty }}</span> emojis?</p>
                <div class="d-flex justify-content-evenly">
                    <button type="button" class="confirmBtn" (click)="confirmNo()">No</button>
                    <button type="button" class="confirmBtn importYes" (click)="confirmYes('import')">Yes</button>
                </div>
            </div>
            <!--delete-confirm-->
            <div *ngIf="deleteConfirm" class="flex-center fs-4 flex-column mx-3">
                <p class="mt-3">Are you sure you want to <span class="text-danger fw-bold">delete all</span> of your
                    emojis?</p>
                <p class="mt-3 fs-6">(This action <span class="text-danger fw-bold">cannot</span> be undone once
                    confirmed.)</p>
                <div class="d-flex justify-content-evenly">
                    <button type="button" class="confirmBtn" (click)="confirmNo()">No</button>
                    <button type="button" class="confirmBtn deleteYes" (click)="confirmYes('deleteAll')">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Help Menu ------------------>
<div *ngIf="helpFlag" class="help flex-center">
    <div class="helpBody flex-center flex-column position-relative px-4">
        <!-- Chiusura -->
        <div *ngIf="helpFlag" class="position-absolute top-0 end-0 m-4" (click)="toggleHelp()">
            <i class="bi bi-x fs-2"></i>
        </div>
        <div class="helpImg w-100 px-1 text-center">
            <h2><i class="bi bi-info-circle"></i> How to Use:</h2>
            <div>
                <p><i class="bi bi-1-circle"></i> &nbsp;-&nbsp; Find the desired emoji</p>
                <img src="assets/tutorial/tutorial-1.png" alt="tutorial-1">
            </div>
            <div>
                <p><i class="bi bi-2-circle"></i> &nbsp;-&nbsp; Copy the link 📋</p>
                <img src="assets/tutorial/tutorial-2.png" alt="tutorial-2">
            </div>
            <div>
                <p><i class="bi bi-3-circle"></i> &nbsp;-&nbsp; Paste the URL</p>
                <img src="assets/tutorial/tutorial-3.png" alt="tutorial-3">
            </div>
            <div>
                <p><i class="bi bi-4-circle"></i> &nbsp;-&nbsp; Select the emoji you want to use</p>
                <img src="assets/tutorial/tutorial-4.png" alt="tutorial-4">
            </div>
            <div>
                <p><i class="bi bi-5-circle"></i> &nbsp;-&nbsp; Paste the emoji in Discord 👀</p>
                <img src="assets/tutorial/tutorial-5.png" alt="tutorial-5">
            </div>
            <div>
                <p><i class="bi bi-6-circle"></i> &nbsp;-&nbsp; Enjoy! 🎉</p>
                <img src="assets/tutorial/tutorial-6.png" alt="tutorial-6">
            </div>
        </div>
    </div>
</div>
