@media (min-width: 768px) {
    .main {
        display: flex;
        flex-direction: row!important;
        max-width: 700px;
        max-height: 500px;
        border-radius: 5px;
    }
    .title {
        text-align: center;
        width: 100%;
        margin-left: 0!important;
    }
    .logo {
        width: 40%!important;
        border-radius: 5px 0 0 5px;
    }
    .auth {
        width: 60%!important;
        border-radius: 0 5px 5px 0;
    }
    .formBody {
        padding: 0 4em!important;
    }
    .account {
        margin: 0!important;
    }
}

@media (min-width: 992px) {
    .main {
        max-width: 800px;
        max-height: 480px;
        .logo {
            width: 70%!important;
            aspect-ratio: 1;
        }
        .auth {
            width: 50%!important;

        }
    }

}
