<div class="auth-body flex-center">
    <main class="d-flex flex-column w-100 m-3 main">
        <!-- Logo-->
        <div class="flex-center w-100 py-4 logo">
            <img src="assets/logo/android-chrome-192x192.png" (click)="home()" alt="bytecord logo" width="100px">
        </div>
        <div class="auth flex-center">
            <form (ngSubmit)="onSubmit()" class="w-100 d-flex align-items-center flex-column">
                <p class="align-self-start fs-1 ms-4 mt-5 mb-3 title">Sign up</p>
                <div class="formBody px-4">
                    <!-- Username-->
                    <label for="usernameCheck" class="py-2 mt-2 fw-medium">USERNAME</label>
                    <div class="flex-center w-100">
                        <input type="text" class="auth-input" id="usernameCheck" name="username" [(ngModel)]="username"
                            placeholder="Username" required
                            (ngModelChange)="checkInput(username) && (usernameValid = true) || (usernameValid = false)">
                    </div>
                    <!-- Email-->
                    <label for="emailCheck" class="py-2 mt-2 fw-medium">EMAIL</label>
                    <div class="flex-center w-100">
                        <input type="email" class="auth-input" id="emailCheck" name="email" [(ngModel)]="email"
                            placeholder="Email" required
                            (ngModelChange)="checkEmail(email) && (emailValid = true) || (emailValid = false)">
                    </div>
                    <!-- Password-->
                    <label for="passwordCheck" class="py-2 mt-2 fw-medium">PASSWORD</label>
                    <div class="flex-center w-100 mb-2">
                        <input type="password" class="auth-input" id="passwordCheck" name="password"
                            [(ngModel)]="password" placeholder="Password" required
                            (ngModelChange)="checkInput(password) && (passwordValid = true) || (passwordValid = false)">
                        <div (click)="togglePassword()" class="checkBtn">
                            <i class="bi bi-eye-slash auth-icon" *ngIf="!showPassword"></i>
                            <i class="bi bi-eye auth-icon" *ngIf="showPassword"></i>
                        </div>
                    </div>
                    <!-- Errore -->
                    <div *ngIf="erroreUsername" class="p-0 m-0">
                        <p class="text-center text-danger m-0 fw-bold">Username already registered.</p>
                    </div>
                    <button class="auth-submit " type="submit"
                        [disabled]="!(usernameValid && emailValid && passwordValid)">SIGN UP</button>
                </div>

                <div class="d-flex justify-content-start fs-6 mt-4 account">
                    <p>Have an account? <a routerLink="/login" class="link"> Sign In</a></p>
                </div>
            </form>
        </div>

    </main>
</div>
