<div class="body d-flex align-items-center">
    <main class="container d-flex justify-content-center align-items-center">
        <div>
            <div>
                <h1 class="text-center">SIGN IN</h1>
            </div>

            <form #login="ngForm" (ngSubmit)="onSubmit(login)" class="d-flex flex-column loginForm">
                <label for="Username">Username:</label>
                <div class="formField">
                    <i class="bi bi-person-circle"></i>
                    <input type="text" id="Username" name="Username" [(ngModel)]="username" placeholder="Inserire l'username" required>
                </div>

                <label for="Password">Password:</label>
                <div class="formField">
                    <i class="bi bi-key"></i>
                    <input type="password" id="Password" name="Password" [(ngModel)]="password" placeholder="Inserire la password" required>
                </div>

                <fieldset>
                    <p>Don't have an account? <a routerLink="/signup"> Sign up here!</a></p>
                </fieldset>
                <button type="submit">Login</button>
            </form>
        </div>

        <!--foto-->
        <div class="foto">

        </div>
    </main>
</div>
