@media (min-width: 768px) {
    main {
        h2 {
            font-size: 4em !important;
        }
        p {
            font-size: 1.8em !important;
        }
    }
    #content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:start;
        justify-content: center;

            .cell {
                width: 40%!important;
                margin: 2em;
            }
    }
}

@media (min-width: 1200px) {
    #content {
        display: flex;
        flex-direction: row;
        align-items:start;
        width: 100vw;
        .cell {
            width: 20%!important;
            margin: 2em;
        }
    }
}
