@import 'media-queries';

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-weight: bold;
    padding: 2em 1em;
    height: 70px;
    background-color: transparent;
    box-shadow: 0 1px 20px black;
    color: var(--main-color);
    .login {
        color: var(--main-color);
        background-color: #5865f2;
        box-shadow: 0 0 10px black;
        padding: 0.7em 1em;
        border-radius: 50px;
        transition: 0.5s;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            background-color: #424dc9;
        }
    }
    h1 {
        cursor: pointer;
        font-weight: 700;
        transition: .3s;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    background-image: url("../../../assets/bg/bg-blob-3-sm.svg");
    background-size: cover;
    .hero {
        margin-top: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
            width: 80%;
            line-height: 120%;
            font-weight: bold;
            font-size: 3em;
        }
        p {
            width: 80%;
            line-height: 130%;
            margin-top: 1em;
            font-size: 1.5em;
            opacity: 0.8;
        }
    }
    .heroImg {
        margin-top: 4em;
        width: 90%;
        border: 3px solid gray;
        border-radius: 20px;
        box-shadow: 2px 2px 10px black;
        margin-bottom: 3em;
    }
    .scrolldown {
        margin-top: 3em;
        font-size: 1.5em;
        border-radius: 100%;
        background-color: #ffffff19;
        aspect-ratio: 1;
        width: 50px;
        transition: 0.3s;
        box-shadow: 0 0 40px #00000060;
        animation: float 2s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
        &:hover,
        &:active {
            background-color: #ffffff47;
            cursor: pointer;
        }
    }
}
.button {
    padding: 1em;
    width: 320px;
    border-radius: 50px;
    font-size: 1.4em;
    font-weight: 500;
    text-decoration: none;
    background-color: #5865f2;
    color: var(--main-color);
    transition: 0.7s;
    box-shadow: 0 0 40px #00000060;
    &:hover {
        background-color: #424dc9;
    }
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#content {
    background-color: white;
    color: var(--secondary-color);
    padding: 0 3em;
    width: 100%;
    .cell {
        width: 100%;
        margin-bottom: 2em;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            width: 80px;
            background-color: #e1e1e169;
            border-radius: 10px;
            font-size: 50px;
            padding: 10px 10px;
            margin-bottom: 0.5em;
        }
        h3 {
            text-align: start;
            line-height: 120%;
            font-weight: bold;
            font-size: 2em;
        }
        p {
            margin: 0;
            text-align: start;
            line-height: 120%;
            font-size: 1.3em;
        }
    }
}
