<section class="starter d-flex justify-content-center flex-column align-items-center">
    <!-- Visibile iniziale -->
    <div class="hero">
        <div class="hero-content d-flex justify-content-center align-items-center flex-wrap flex-column">
            <div class="content">
                <h1 class="title">Bytecord</h1>
                <p class="subtitle">Simplified Discord Emoji Management</p>
            </div>
            <div class="content">
                <p> [ Foto da inserire ] </p>
            </div>

        </div>
    </div>
    <div class="navigation d-flex justify-content-evenly w-100 align-items-start">
        <a href="#" class="btn btn-outline-info">Boh da mettere</a>
        <a routerLink="/homepage" class="btn btn-outline-success">Login in</a>
    </div>
    <!-- scrolldown icona -->
    <div class="scrolldown">
        <a href="#content"><i class="bi bi-caret-down text-light"></i></a>
    </div>
</section>

    <!-- Info extra -->
<div class="spazio">&nbsp;</div>

<div id="content" class="bg-light">

    <p class="placeholder d-flex justify-content-center text-info"> placeholder </p>


    <div class="container d-flex justify-content-center align-items-center flex-column text-center p-0">
        <h1 class="m-0">BYTECORD</h1>
        <p class="app fw-bold">Simplified Discord emoji management</p>
        <a href="/homepage" class="button">Start Now <i class="bi bi-capsule"></i> </a>
    </div>

</div>
