<app-navbar></app-navbar>
<!-- Creazione -->
<main class="body position-relative">
    <a routerLink="/packs" class="position-absolute top-0 start-0 my-4 back"><i class="bi bi-arrow-left-square"></i> Back</a>
    <section class="flex-center flex-column w-100 h-100 section">
        <div class="d-flex justify-content-center w-100 inputBar">
            <input class="input" type="text" name="packName" [(ngModel)]="packName" placeholder="Your pack name"
                maxlength="12">
            <button type="button" (click)="onSubmit()" class="submit px-3"><i class="bi bi-send-fill"></i></button>
        </div>
        <!-- Status -->
        <p class="text-light text-center my-3 fs-5">
            <span>{{ status }}</span>
        </p>
        <!--personal emoji container-->
        <div class="list list-1 py-3 justify-content-center d-flex flex-wrap">
            <div *ngFor="let emoji of displayList" class="animate__animated animate__zoomIn animate__fast">
                <div *ngIf="emoji != '' ">
                    <!-- Emoji -->
                    <div class="emoji m-2" (click)="add(emoji)">
                        <img [src]="emoji" class="img-fluid emoji" onerror="this.src='assets/not-found.png'" width="48px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Preview -->
    <section class="flex-center flex-column w-100 h-100 section">
        <p class="text-light mb-4">
            ( <i class="bi bi-arrow-down-circle"></i> Pack Preview | Click unwanted emoji to delete <i class="bi bi-arrow-down-circle"></i> )
        </p>
        <p class="text-light fs-1 fw-bold text-center mb-4">
            <span *ngIf="packName != ''"> {{ capitalCase(packName) }} Pack</span>
            <span *ngIf="packName == ''">ㅤ</span>
        </p>
        <div class="list list-2 py-3 justify-content-center d-flex flex-wrap align-items-start">
            <div *ngFor="let emoji of requestList" class="animate__animated animate__zoomIn animate__fast">
                <!--Result preview container-->
                <div *ngIf="emoji != '' ">
                    <!-- Emoji -->
                    <div class="emoji m-2" (click)="remove(emoji)">
                        <img [src]="emoji" class="img-fluid emoji" onerror="this.src='assets/not-found.png'" width="48px">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
