// ------------ Auth ------------ //
.auth-body {
    background: var(--main-bg-color);
    background: linear-gradient(180deg, #0c0a44 0%, #0b093c 20%, #060522 50%);
    height: 100vh;
    font-family: var(--main-font);
    color: gray;
    user-select: none;
    overflow: hidden;

    img {
        -webkit-user-drag: none;
        user-select: none;
        transition: .7s;
        &:hover, &:active {
            cursor: pointer;
            transform:scale(1.1)
        }
    }

    main {
        aspect-ratio: 1;
        padding: 2em;
    }

    a {
        color: var(--main-color)
    }

    .toggle:hover {
        cursor: pointer;
    }

    .auth {
        .auth-icon,
        .auth-input {
            border: none;
            background-color: var(--secondary-bg-color);
            min-height: 40px;
        }
        .auth-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;
            transform: translateX(2px);
            padding-left: 1em;
            border-radius: 20px 0 0 20px;
            font-size: 1.2em;
        }
        .auth-input {
            min-width: 250px;
            padding: 0.5em;
            padding-left: 15px;
            border-radius: 0 20px 20px 0;
            &:focus {
                outline: none;
            }
        }
        .auth-submit {
            background-color: var(--main-bg-color);
            border-radius: 20px;
            margin: 2em 0;
            width: 150px;
            padding: 0.5em;
            border: 3px solid var(--main-color);
            color: var(--main-color);
            transition: .7s;
            &:disabled {
                background-color: #999999;
                color: gray;
                border: 3px dashed var(--main-color);
            }
        }
    }
}
