/* import dei font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Luckiest+Guy&family=Rampart+One&display=swap');
@import 'auth';

:root {
    --main-color: white;
    --main-bg-color: #060522;
    --main-font: Roboto, "Helvetica Neue", sans-serif;

    --secondary-color: #0505a1b3;
    --secondary-bg-color: white;
    --secondary-font:'Rampart One', cursive;
}

html, body { height: 100%; }
body {
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &active {
        text-decoration: underline;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
