/* import dei font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Luckiest+Guy&family=Rampart+One&display=swap');

body {
    background-color: #424549;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

// colori
:root {
    --main-color: lightblue;
}
